About the data

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler,PolynomialFeatures
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.metrics import classification_report,confusion_matrix
import warnings
warnings.filterwarnings('ignore')

In [39]:
card_df = pd.read_csv('\\Users\THEOFIRE\Desktop\DATA\creditcard\creditcard.csv', nrows=10000)

display(pd.concat([card_df.head(3),card_df.tail(3)]))

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
9997,15008,-0.971734,0.744625,2.334822,-0.408046,-0.999231,-0.629294,-0.377212,0.481230,1.599496,...,-0.116821,-0.141219,-0.026115,0.712719,-0.372964,0.750323,-0.107875,0.031272,4.05,0
9998,15010,-1.529666,1.475870,1.507624,-0.662935,-1.037152,-1.159860,-0.303219,0.745766,0.946896,...,-0.197993,-0.634088,0.100631,0.669449,-0.269750,0.611964,-0.169789,0.007846,4.05,0
9999,15012,-1.181721,1.485264,1.958715,2.587943,-0.504092,-0.126697,0.939038,0.175638,-0.756318,...,-0.010641,-0.191361,0.204004,0.663928,0.288780,-0.033612,-0.142682,0.028149,159.28,0

In [40]:
card_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    10000 non-null  int64
 1   V1      10000 non-null  float64
 2   V2      10000 non-null  float64
 3   V3      10000 non-null  float64
 4   V4      10000 non-null  float64
 5   V5      10000 non-null  float64
 6   V6      10000 non-null  float64
 7   V7      10000 non-null  float64
 8   V8      10000 non-null  float64
 9   V9      10000 non-null  float64
 10  V10     10000 non-null  float64
 11  V11     10000 non-null  float64
 12  V12     10000 non-null  float64
 13  V13     10000 non-null  float64
 14  V14     10000 non-null  float64
 15  V15     10000 non-null  float64
 16  V16     10000 non-null  float64
 17  V17     10000 non-null  float64
 18  V18     10000 non-null  float64
 19  V19     10000 non-null  float64
 20  V20     10000 non-null  float64
 21  V21     10000 non-null  float64
 22  V22     10000 non-null  float64
 23  V23     10000 non-null  float64
 24  V24     10000 non-null  float64
 25  V25     10000 non-null  float64
 26  V26     10000 non-null  float64
 27  V27     10000 non-null  float64
 28  V28     10000 non-null  float64
 29  Amount  10000 non-null  float64
 30  Class   10000 non-null  int64
dtypes: float64(29), int64(2)
memory usage: 2.4 MB

In [41]:
card_df.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,...,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000
mean,5966.033400,-0.241862,0.281949,0.906270,0.264148,-0.046398,0.133108,-0.071689,-0.064778,0.802224,...,-0.051990,-0.152671,-0.033268,0.021335,0.087146,0.108140,0.005518,0.002915,63.030188,0.00380
std,4473.403739,1.521679,1.308139,1.159154,1.441235,1.182935,1.307311,1.077430,1.259064,1.155198,...,0.913811,0.631083,0.487814,0.594430,0.428171,0.562793,0.410868,0.266247,184.486158,0.06153
min,0.000000,-27.670569,-34.607649,-15.496222,-4.657545,-32.092129,-23.496714,-26.548144,-23.632502,-6.329801,...,-11.468435,-8.527145,-15.144340,-2.512377,-2.577363,-1.338556,-7.976100,-3.509250,0.000000,0.00000
25%,2072.750000,-1.013283,-0.208342,0.412799,-0.614424,-0.643390,-0.629934,-0.542336,-0.190747,0.070868,...,-0.268120,-0.549638,-0.174120,-0.327817,-0.158137,-0.327974,-0.084489,-0.015753,5.000000,0.00000
50%,4563.500000,-0.372799,0.288524,0.944361,0.219861,-0.152769,-0.152566,-0.055585,0.012865,0.805275,...,-0.123273,-0.136746,-0.045794,0.079976,0.121001,0.042865,-0.004568,0.015897,15.950000,0.00000
75%,10233.250000,1.150864,0.901879,1.602903,1.125666,0.371081,0.505357,0.476280,0.274533,1.506299,...,0.032707,0.247490,0.081665,0.410877,0.359058,0.476394,0.120811,0.077182,50.960000,0.00000
max,15012.000000,1.960497,8.636214,4.101716,10.463020,34.099309,21.393069,34.303177,5.060381,10.392889,...,22.588989,4.534454,13.876221,3.200201,5.525093,3.517346,8.254376,4.860769,7712.430000,1.00000

In [42]:
card_df['Class'].unique()

array([0, 1], dtype=int64)

In [43]:
card_df['Class'].value_counts()

0    9962
1      38
Name: Class, dtype: int64

In [44]:
Y= card_df['Class']
X= card_df.drop(['Class','Amount','Time'],axis=1)

print(X.shape,Y.shape)

(10000, 28) (10000,)

In [45]:
card_df['Amount'] = StandardScaler().fit_transform(np.array(card_df['Amount']).reshape(-1,1))

## solving the class imblance

In [56]:
from sklearn.metrics import DistanceMetric
from imblearn.over_sampling import SMOTE

oversample = SMOTE(random_state= 2)

X,Y =oversample.fit_resample(X,Y)

In [60]:
Y.value_counts()

1    9962
0    9962
Name: Class, dtype: int64

LET'S TRAIN OUR Model- Classification Model

We need to define a class to do the work at once

In [48]:
def Regressor_II(model, X, Y):
    x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size= 0.2, random_state= 30)
    
    #train the model for each classifer
    model.fit(x_train, y_train)
    print("Model Acurracy: ", model.score(x_test,y_test)*100)
    
    #cross-validation score
    cv_score = cross_val_score(model,X,Y, cv=5)
    print("CV score: ", np.mean(cv_score)*100)

In [50]:
model= LogisticRegression()
Regressor_II(model,X,Y)

Model Acurracy:  100.0
CV score:  99.95482809531728

In [24]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor(random_state=0)
Regressor_II(model,X,Y)

Model Acurracy:  99.89962130658046
CV score:  -31.070396146902652

In [25]:
from sklearn.ensemble import ExtraTreesClassifier
model=ExtraTreesClassifier()
Regressor_II(model,X,Y)

Model Acurracy:  100.0
CV score:  99.96486069749511

In [13]:
import lightgbm as lgb
model= lgb.LGBMClassifier()
Regressor_II(model,X,Y)

Model Acurracy:  100.0
CV score:  99.92470887313368

THE PREDICTIVE SYSTEM

In [58]:
# Y= card_df['Class']
# X= card_df.drop(['Class','Amount','Time'],axis=1)

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size= 0.2, random_state= 30)
x_train.to_csv('train.csv',index=False)
x_test.to_csv('test.csv',index=False)


print(X.shape,Y.shape)

opt_model=LogisticRegression()
opt_model.fit(x_train, y_train)

(19924, 28) (19924,)

LogisticRegression()

In [67]:
input_parameter=(-0.519912368914216,0.775445399815348,1.4607441694201,-0.0566932419243677,0.581239227133282,
                 0.387660298358629,0.758868661500927,0.232505140664842,0.0302436598662667,
                 -0.863744324118388,-0.151009606438688,1.05428729367081
                 ,-0.141505944718196,-0.263675298427179,-7.71222102341409,-0.00692064286173377,-0.686601680068304,
                 -0.279453074313305,-0.0662858462994043,-0.231733169429466,-0.410943080321861,-1.0204790517032,
                 -0.0270297151876139,-0.549585695129967,-0.289277154460889,-6.21270777840428,0.176482494617971,
                 0.150335298662835)

#changing the input data to numpy array
input_parameter_as_numpy_array= np.asarray(input_parameter)

input_parameter_reshape= input_parameter_as_numpy_array.reshape(1,-1)

prediction= opt_model.predict(input_parameter_reshape)

if (prediction[0]==1):
    print('Fraud Transaction')
else: print('Non-Fraud Transaction')

Non-Fraud Transaction